<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="WPFOutlookContext" connectionString="Data source=.;initial catalog=OutlookDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=3"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
</configuration>