<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src='less.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

<div class="firstArea">
    <div class="textDiv">First column! First column! First column! First column! First column! First column! First column! First column! First column! First column!
        First column! First column! First column! First column! First column! First column! First column! First column! First column! First column!</div>
</div>

<div class="secondArea">
    <div class="textDiv">Second column!</div>
</div>

<div class="thirdArea">
    <div class="textDiv">Third column!</div>
</div>

</body>
</html>